.page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(4px);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
}

.ConnectWallet1 {
  width: 33.33%;          
  height: 85%;         
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-end;   
  justify-content: center;
  padding: 12px;
  margin-left: 20px;
  margin-top: -50px;
  box-shadow: 0 25px 50px -12px rgba(240, 186, 125, 0.4), 0 0 30px rgba(251, 169, 115, 0.2), inset 0 1px 0
    rgba(252, 215, 159, 0.1);
  transition: all 0.3s ease;
}
.ConnectWallet1::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.8s ease;
}
.ConnectWallet1:hover::before{
 left: 100%;
}
.ConnectWallet1:hover{
  transform: translateY(-5px);
  box-shadow: 0 35px 60px -12px rgba(236, 208, 136, 0.5), 0 0 4px rgba(244, 190, 30, 0.3), inset 0 1px 0
    rgba(255, 255, 255, 0.15);

}
.ConnectWallet2 {
  width: 33.33%;          
  height: 85%;         
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;   
  justify-content: center;
  padding: 12px;
  margin-left: 20px;
  margin-top: -50px;
  box-shadow: 0 25px 50px -12px rgba(240, 186, 125, 0.4), 0 0 30px rgba(251, 169, 115, 0.2), inset 0 1px 0
    rgba(252, 215, 159, 0.1);
}
